<font size="+1.5"><i>{{ include.paper.title }}</i></font><br/>
{% if include.paper.authors %}{{ include.paper.authors }}.{% endif %}<br/>
{% case include.paper.paper-type %}
  {% when "inproceedings" %}
    In <i>{{ include.paper.booktitle }}</i><br/>
    <a href="{{ include.paper.pdf-url }}" target="_blank">[PDF]</a>
    {% if include.paper.code-url %},<a href="{{ include.paper.code-url }}">[Code]</a>{% endif %}
    {% if include.paper.slide-url %},<a href="{{ include.paper.slide-url }}">[Slide]</a>{% endif %}
    {% if include.paper.poster-url %},<a href="{{ include.paper.poster-url }}">[Slide]</a>{% endif %}
    {% if include.paper.video %}
        , <a href="{{ include.paper.video-url }}">[Video]</a>
    {% endif %}
    {% if include.paper.news %}
        <br/>News Coverage:
        {% if include.paper.assembly-url %}<a href="{{ include.paper.assembly-url }}">[AssemblyAI Blog]</a>, {% endif %}
        {% if include.paper.marktechpost-url %}<a href="{{ include.paper.marktechpost-url }}">[MarkTechPost]</a>, {% endif %}
        {% if include.paper.synced-url %}<a href="{{ include.paper.synced-url }}">[Synced (CN)]</a>, {% endif %}
        {% if include.paper.paperweekly-url %}<a href="{{ include.paper.paperweekly-url }}">[PaperWeekly (CN)]</a>, {% endif %}
        {% if include.paper.qbitai-url %}<a href="{{ include.paper.qbitai-url }}">[QbitAI (CN)]</a>, {% endif %}
        {% if include.paper.cfcs-url %}<a href="{{ include.paper.cfcs-url }}">[PKU-CFCS News (CN)]</a>{% endif %}
        {% if include.paper.jiangmen-url %}<a href="{{ include.paper.jiangmen-url }}">[Jiangmen Venture (CN)]</a>{% endif %}
    {% endif %}
    {% if include.paper.github %}
        <br/> {{ include.paper.github }}
    {% endif %}
    {% if include.paper.pwc %}
        <br/> {{ include.paper.pwc }}
    {% endif %}
  {% when "article" %}
    In <i>{{ include.paper.journal }}</i>,
      {% if include.paper.volume %}{{ include.paper.volume }}{% endif %}{% if include.paper.number %}({{ include.paper.number }}){% endif %}
      {% if include.paper.article%}: Article {{ include.paper.article}},{% endif %}
      {% if include.paper.pages %}: pages {{ include.paper.pages }},{% endif %}.
  {% when "dissertation" %}
    Dissertation, {{ include.paper.institution }}.
{% endcase %}
<!--{{ include.paper.year }}. -->

